body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    margin: 10px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 500px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0 ,0 , 0, .3);
    color: white;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 500px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0 ,0 , 0, .3);
    color: white;
}
.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    flex: 1;
    margin: 10px;
    max-width: 200px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0 ,0 , 0, .3);
    color: white;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    flex: 1;
    margin: 10px;
    max-width: 200px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0 ,0 , 0, .3);
    color: white;
}
.footer {
display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    flex: 1;
    margin: 10px;
    max-width: 200px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0 ,0 , 0, .3);
    color: white;
}
.footer {
display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    flex: 1;
    margin: 10px;
    max-width: 200px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(0 ,0 , 0, .3);
    color: white;
}